@{
    ViewData["Title"] = "Home Page";
}


<div class="test">


    @foreach (Category item in ViewBag.Category)
    {
        <div>@item.Name</div>
    }

    @foreach (Product item in ViewBag.Product)
    {
        <div>@item.Name</div>
        <div>@item.CategoryID.ID</div>
    }


</div>
